<!DOCTYPE html>
<html>
<!----- HEAD ----->
<%- include('../partials/head',{title:"Home"}) %>
<!----- FIN-HEAD -----> 

<body class="container">
    <main>
        <!----- SIDEBAR ----->
        <%- include('../partials/sidebar') %>
        <!----- FIN-SIDEBAR -----> 
        <!----- SECCION PRINCIPAL ----->
        <div class="prd-page">
            <div class="prd-header">
                <p class="prd-header-title">PROCESOS DE RECUPERACIÓN ANTE DESASTRES</p>
            </div>
            <section class="prd-items">
                <a class="prd-items" href='#'><div class="prd-item">
                    <div class="prd-item-detalles">
                        <div class="prd-item-detalles-image">
                            <i class="fas fa-globe"></i>
                        </div>
                        <div class="prd-item-detalles-textos">
                            <p class="prd-item-detalles-texto-descripcion">DESCRIPCION</p>
                            <p class="prd-item-detalles-texto-año">AÑO</p>
                            <p class="prd-item-detalles-texto-titulo">TITULO</p>
                        </div>
                    </div>
                    <div class="prd-item-ambiente">
                        <p class="prd-item-ambiente-p">AMBIENTE</p>
                    </div>
                </div><a>


                <a class="prd-items" href='#'><div class="prd-item">
                    <div class="prd-item-detalles">
                        <div class="prd-item-detalles-image">
                            <i class="fas fa-building"></i>
                        </div>
                        <div class="prd-item-detalles-textos">
                            <p class="prd-item-detalles-texto-descripcion">DESCRIPCION</p>
                            <p class="prd-item-detalles-texto-año">AÑO</p>
                            <p class="prd-item-detalles-texto-titulo">TITULO</p>
                        </div>
                    </div>
                    <div class="prd-item-ambiente">
                        <p class="prd-item-ambiente-p">AMBIENTE</p>
                    </div>
                </div><a>
            </section>

        </div>          
        <!----- FIN-SECCION PRINCIPAL -----> 
    </main> 
    <!----- FOOTER ----->
    <%- include('../partials/footer') %>
    <!----- FIN-FOOTER ----->    
 
</body>
</html>