<!DOCTYPE html>
<html>
<!----- HEAD ----->
<%- include('./partials/head',{title:"Home"}) %>
<!----- FIN-HEAD -----> 

<body class="container">
    <main>
        <!----- SIDEBAR ----->
        <%- include('./partials/sidebar') %>
        <!----- FIN-SIDEBAR -----> 
        <!----- SECCION PRINCIPAL ----->

        <!----- FIN-SECCION PRINCIPAL -----> 
    </main> 
    <!----- FOOTER ----->
    <%- include('./partials/footer') %>
    <!----- FIN-FOOTER ----->    
 
</body>
</html>