<footer class="footer">
    <section class="search">
        <div class="search">
            <input class="search" type="text" placeholder="Buscar">
        </div>
        
    </section>
    <img src="img/footer1.jfif" alt="Lo que haces se nota" class="loquehaces">
</footer> 