<aside class="sidebar">
    <section class="logo">
        <a class="logo" href="/home">
            <img src="img/elefantito_corriendo.jfif" alt="Santander Logo" class="logo">
            <h1 class="logo">PORTAL NETWORK CORE</h1>
        </a>
    </section>
    <section class="login">
        <div class="login">
            <i class="fas fa-user-circle"></i>
            <div class="div-login">
                <a class="login" href="/logout"><%= locals.loggedUser %></a>
                <p class="login">Logout</p>      
            </div>             
        </div>         
    </section>
    <section class="botones">
        <div class="boton">
            <i class="fas fa-biohazard"></i> 
            <a class="boton" href="/prd">PRD</a>                   
        </div>
        <div class="boton">
            <i class="fas fa-tachometer-alt"></i> 
            <a class="boton" href="#">DASHBOARDS</a>                   
        </div>
        <div class="boton">
            <i class="fas fa-tachometer-alt"></i> 
            <a class="boton" href="#">DASHBOARDS</a>                   
        </div>
        <div class="boton">
            <i class="fas fa-tachometer-alt"></i> 
            <a class="boton" href="#">DASHBOARDS</a>                   
        </div>
    </section>
</aside>